<!DOCTYPE html>
<html lang="ko">
{% include "common/head.html" %}
<body>
{% include "common/menu.html" %}

<table class="table text-center" style='table-layout:fixed;'>
    {% for row in range(5) %}
        <tr>
            {% for col in range(5) %}
                <td {% if row * 5 + col + 1 in success_list %}style="background-color:yellow;"{% endif %}><a
                        href="/bingo/{{ row * 5 + col + 1 }}">{{ description[row * 5 + col] }}</a></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>