<!DOCTYPE html>
<html lang="ko">
{% include "common/head.html" %}
<body>
{% include "common/menu.html" %}

<script src="/static/dropzone/dropzone.min.js"></script>
<link rel="stylesheet" href="/static/dropzone/dropzone.min.css">

<table class="table text-center">
    <tr>
        <td><a href="/bingo/1">까치런 달리기(지도 공유)</a></td>
        <td><a href="/bingo/2">분당구청-아트센터 달리기</a></td>
        <td><a href="/bingo/3">서현역-율동공원 찍고오기</a></td>
        <td><a href="/bingo/4">트랙 5K 달리기</a></td>
        <td><a href="/bingo/5">정기런 3주 연속 참여하기</a></td>
    </tr>
    <tr>
        <td><a href="/bingo/6">오전 9시 이전에 러닝 시작하기</a></td>
        <td><a href="/bingo/7">탄천트랙-아브뉴프랑 달리기(주말)</a></td>
        <td><a href="/bingo/8">미금교-백궁교 왕복 달리기</a></td>
        <td><a href="/bingo/9">황새울공원-판교역 찍고오기(평일)</a></td>
        <td><a href="/bingo/10">율동공원 호수 4바퀴 달리기</a></td>
    </tr>
    <tr>
        <td><a href="/bingo/11">야탑역-미금역 성남대로 따라 7.5K 달리기(각 역별 사진 콜라쥬 인증)</a></td>
        <td><a href="/bingo/12">15K LSD 하기(야외)</a></td>
        <td><a href="/bingo/13">~8월 31일까지 120K 달리기</a></td>
        <td><a href="/bingo/14">일주일에 3일 이상 달리기하기(일-토 기준)</a></td>
        <td><a href="/bingo/15">6월에 6K 달리기</a></td>
    </tr>
    <tr>
        <td><a href="/bingo/16">판교역 출발 5K 달리기</a></td>
        <td><a href="/bingo/17">번개런 호스트/프로그램 진행하기(평일)</a></td>
        <td><a href="/bingo/18">안쉬고 3K 달리기</a></td>
        <td><a href="/bingo/19">WAKE-UP BUNDANG 참여하기(주말)</a></td>
        <td><a href="/bingo/20">BRC 815 마라톤 참석하기</a></td>
    </tr>
    <tr>
        <td><a href="/bingo/21">크루티 입고 정기런 참여하기</a></td>
        <td><a href="/bingo/22">평소 정기런 페이스 보다 1분 앞당겨 1K 달리기</a></td>
        <td><a href="/bingo/23">수내역-판교도서관 달리기</a></td>
        <td><a href="/bingo/24">8월달에 8K 달리기</a></td>
        <td><a href="/bingo/25">구미동 3K 달리기(구미동 시작/종료)</a></td>
    </tr>
</table>

</body>
</html>