<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>BUNDANG RUNNING CREW</title>
    {% include "common/head.html" %}
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
    {% include "common/menu.html" %}
    <div class="d-flex flex-column">
        <div><img src="/static/brc.jpg" style="object-fit: cover;" width="100%" height="300px"/></div>
        {% if current_user.is_member %}
            <button class="btn m-1 bg-warning text-center text-light" onclick="location.href='/run'">Running</button>
            <!-- <button class="btn m-1 bg-warning text-center"><a href="/bingo" class="text-light">Bingo</a></button>
            <button class="btn m-1 bg-warning text-center"><a href="#" class="text-light">My page</a></button> -->
        {% endif %}
        {% if current_user.is_admin %}
            <!-- <button class="btn m-1 bg-warning text-center"><a href="/bingo/admin" class="text-light">Bingo Admin</a></button>
            <button class="btn m-1 bg-warning text-center"><a href="/member" class="text-light">Member</a></button>
            <button class="btn m-1 bg-warning text-center"><a href="/guest" class="text-light">Guest</a></button>
            <button class="btn m-1 bg-warning text-center"><a href="/debug" class="text-light">Debug</a></button> -->
        {% endif %}

        {% if not current_user.is_authenticated %}
            <div style="margin: 0 auto"><a id="kakao-login-btn" class="d-flex m-1"></a></div>
        {% else %}
            <div class="text-center">{{ current_user.nickname }}님 안녕하세요!</div>
            <!-- <button class="btn m-1 bg-warning text-center"><a href="/logout" class="text-light">Logout</a></button> -->
        {% endif %}
    </div>

<script type="text/javascript">
    Kakao.init('8a6e5656736253a2984b0050d1bb1ece')
    Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        size: 'medium',
        success: login,
        fail: function (err) {
            alert('failed to login: ' + JSON.stringify(err))
        },
    })

    function login(data) {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', 'login');
        document.charset = "utf-8";

        var hiddenField = document.createElement('input');
        hiddenField.setAttribute('type', 'hidden');
        hiddenField.setAttribute('name', 'data');
        hiddenField.setAttribute('value', JSON.stringify(data));
        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }
</script>

</body>
</html>