<!DOCTYPE html>
<html lang="ko">
{% include "common/head.html" %}
<body>
{% include "common/menu.html" %}

<h3>{{ run.title }}</h3>
<h6>참석자들</h6>
<ul class="list-group">
    {% for apply in apply_list %}
        <li class="list-group-item">
            {% if apply.user.thumbnail %}
            <img src="{{ apply.user.thumbnail }}" width="30" style="border-radius: 30%" />
            {% else %}
            <img src='/static/logo.png' width="30" style="border-radius: 30%" />
            {% endif %}
            <span>{{ apply.user.nickname }}{{ "🤙" if apply.approved }}</span>
            <button class="btn m-1 bg-warning text-center"><a href="{{ run.id }}/apply/{{ apply.user_id }}"
                                                              class="text-light">참석</a></button>
            <button class="btn m-1 bg-danger text-center"><a href="{{ run.id }}/noshow/{{ apply.user_id }}"
                                                             class="text-light">노쇼</a></button>
        </li>
    {% endfor %}
</ul>
</body>
</html>