<!DOCTYPE html>
<html lang="ko">
{% include "common/head.html" %}
<body>
{% include "common/menu.html" %}

<table class="table text-center">
    <tr>
        <td>
            {{ run.id }}
        </td>
    </tr>
    <tr>
        <td>
            {{ run.title }}
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" action="/run/apply">
                <input type="text" name="run_id" value="{{ run.id }}" hidden>
                <input type="submit" class="btn btn-primary" value="참석"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            참석자 :
            {% for applies in applies %}
                {{ applies.user.nickname }}
            {% endfor %}
        </td>
    </tr>
</table>

</body>
</html>