<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>BUNDANG RUNNING CREW</title>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
<a href="logout">Logout</a><br><br>
<a href="/">Run</a><br>
<a href="member">Member</a><br>
<a href="guest">Guest</a>
<div style="width:fit-content;height:fit-content;margin:auto;position:absolute;top:-20%;bottom:0;left:0;right:0;text-align:center;">
    <table>
        <tr>
            <td>
                {{ run.id }}
            </td>
        </tr>
        <tr>
            <td>
                {{ run.title }}
            </td>
        </tr>
        <tr>
            <td>
                <form method="post" action="apply">
                    <input type="text" name="post_id" value="{{ run.id }}" hidden>
                    <input type="submit" value="참석"/>
                </form>
            </td>
        </tr>
        {% for applies in applies %}
            <tr>
                <td>
                    {{ applies.user_id }}
                </td>
            </tr>
        {% endfor %}
    </table>
    </table>
</div>
</body>
</html>