<!DOCTYPE html>
<html lang="ko">
{% include "common/head.html" %}
<body>
{% include "common/menu.html" %}

<table class="table">
    {% for run in runs %}
        <tr>
            <td>
                {{ run.time }}
            </td>
            <td>
                <a href="run/{{ run.id }}">{{ run.title }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if current_user.is_admin %}
    <form method="post" action="/run/write">
        <div class="form-group">
            <label for="InputTitle">정기런 이름</label>
            <input type="text" class="form-control" id="InputTitle" name="data">
        </div>
        <button type="submit" class="btn btn-primary">만들기</button>
    </form>
{% endif %}

</body>
</html>